doctype html
html(lang="en")
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
		link(rel='stylesheet', href='/stylesheets/home.css')
		script(src='/javascripts/jquery-2.1.0.js')
		script(src='/javascripts/bootstrap.js')
	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/home') KEES

			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='/home') Home
					li
						a(href='/admin') Admin

				a.button.btn.btn-default.navbar-btn.navbar-right(type='button', href='/logout') Logout

		.jumbotron
			.div
				button.btn.btn-default(id='lbutton')
					span.glyphicon.glyphicon-lock 
				label(id='lstatus') 
					h4 Status: Locked

			.thumbnail
				img(src='/images/320x240.jpg', id='stream')
				.caption
					h4 Live Stream

			.btn-group
				button.btn.btn-default(id='btngroup', data-toggle='modal', data-target='#add')
					span.glyphicon.glyphicon-user 
						h5 Add Guest 
				button.btn.btn-default(id='btngroup' data-toggle='modal', data-target='#hist')
					span.glyphicon.glyphicon-calendar
						h5 History

			.btn-group
				button.btn.btn-default(id='btngroup')
					span.glyphicon.glyphicon-camera 
						h5 Snapshot
				button.btn.btn-default(id='btngroup')
					span.glyphicon.glyphicon-facetime-video
						h5 Record

		.modal.fade(id='add')
			.modal-dialog
				.modal-content
					.modal-header
						// button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Add Guest
					.modal-body
						form
							.thumbnail
								img(src='/images/320x240.jpg')
							input.form-control(type='text', placeholder='Name', require='required', autofocus='autofocus')
					.modal-footer
						button.btn.btn-default(data-dismiss='modal') Cancel
						button.btn.btn-primary(data-dismiss='modal') Save

		.modal.fade(id='hist')
			.modal-dialog
				.modal-content
					.modal-header
						// button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title History
					.modal-body
						.list-group
								.list-group-item
									h5 1/25/2014 3:31:33 PM - Package Left
								.list-group-item 
									h5 1/14/2014 6:00:30 PM - Unlocked, Owner via App
								.list-group-item 
									h5 1/10/2014 12:28:10 PM - Unlocked, Guest: Tony via Knock
								.list-group-item 
									h5 1/10/2014 2:14:34 AM - Unlocked, Owner via RFID
								
					.modal-footer
						button.btn.btn-primary(data-dismiss='modal') Close