doctype html
html(lang="en")
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
		link(rel='stylesheet', href='/stylesheets/home.css')
		script(src='/javascripts/jquery-2.1.0.min.js')
		script(src='/javascripts/bootstrap.js')
		script.
			$(document).ready(function(){
				$(document).on('click', '#lbutton', function(){
					$("#lbutton").removeClass("btn btn-success").addClass("btn btn-danger");
					$("#lstatus").text("Unlocked");
					$.get('/unlock');
					setTimeout(function (){
						$("#lbutton").removeClass("btn btn-danger").addClass("btn btn-success");
						$("#lstatus").text("Locked");
					}, 5000);
				});
			});
		script.
			$(document).ready(function(){
				$(document).on('click', '#gsave', function(){
					var name = $('#name').val();
					$.get('/addguest', { name: name });
					$('#name').val("");
				});
			});	
		script.
			$(document).ready(function(){
				$(document).on('click', '#gcancel', function(){
					$('#name').val("");
				});
			});	
		script.
			$(document).ready(function(){
				$(document).on('click', '#histbtn', function(){
					$.getJSON('/history', function(data){
						//alert("Data: "+data);
						$('#histls').empty();
						$.each(data, function(index, val){
							$('#histls').append('<li class="list-group-item">'+val+'</li>');
						});
					});
				});
			});

	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/home') KEES

			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='/home') Home
					li
						a(href='/admin') Admin

				a.button.btn.btn-default.navbar-btn.navbar-right(type='button', href='/logout') Logout

		.jumbotron
			.div
				button.btn.btn-success(id='lbutton', type='button')
					span.glyphicon.glyphicon-lock 
				label(id='lstatus') Locked

			.thumbnail
				img(src='/images/320x240.jpg', id='stream')
				.caption
					h4 Live Stream

			.btn-group
				button.btn.btn-default(id='addguestbtn', data-toggle='modal', data-target='#add')
					span.glyphicon.glyphicon-user 
						h5 Add Guest 
				button.btn.btn-default(id='histbtn' data-toggle='modal', data-target='#hist')
					span.glyphicon.glyphicon-calendar
						h5 History

			.btn-group
				button.btn.btn-default(id='btngroup')
					span.glyphicon.glyphicon-camera 
						h5 Snapshot
				button.btn.btn-default(id='btngroup')
					span.glyphicon.glyphicon-facetime-video
						h5 Record

		.modal.fade(id='add')
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						// button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Add Guest
					.modal-body
						form
							.thumbnail
								img(src='/images/320x240.jpg')
							input.form-control(type='text' id='name' placeholder='Name' require='required' autofocus='autofocus')
					.modal-footer
						button.btn.btn-default(data-dismiss='modal' id='gcancel') Cancel
						button.btn.btn-primary(data-dismiss='modal' id='gsave') Save

		.modal.fade(id='hist')
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						// button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title History
					.modal-body(id='histb')
						.list-group(id='histls')
								
					.modal-footer
						button.btn.btn-primary(data-dismiss='modal') Close