doctype html
html(lang="en")
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		script(src='/javascripts/jquery-2.1.0.js')
		script(src='/javascripts/bootstrap.js')
	body
		container
			form.form-signin(role='form', method='post', id='login', name='login')
				h2.form-signin-heading KEES Login
				p.subheading
				input.form-control(type='text', placeholder='Username', require='required', autofocus='autofocus', id='user', name='user')
				input.form-control(type='password', placeholder='Password', require='required', id='pass', name='pass')
				button.btn.btn-lg.btn-primary.btn-clock(type='submit') Login