extends layout

block content
	div(data-role='page', id='login', data-theme='a')
		form(method='post')
			div(data-role='header', data-position='fixed')
				h1 KEES Login
			
			div(data-role='content')
				label Username:
				input(type='text', name='user', id='user')
				label Password:
				input(type='password', name='pass', id='pass')
				input(type='submit', value='Login')
			
			div(data-role='footer', data-position='fixed')
				h1 © 2014