body {
  background-color: #eee;
}
.jumbotron {
	text-align: center;
	padding-top: 60px;
	position: center;
}
#btngroup{
	width: 90px;
	padding-top: 10px;
}
#lstatus {
	font-size: 18px;
	padding-left: 10px;
}
.thumbnail {
	background-color: #eee;
	border-color: #eee;
}